body {
    margin: 0px;
    padding: 0px;
    background:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8), rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url("what-are-the-3-working-capital-financing-policies.png") no-repeat center center fixed;
    height: 100%;
    background-size: cover;
    color: rgb(255, 253, 253);
    background-color: rgb(235, 221, 70);
}

h1{
    text-align: center;
    border: 3px solid grey;
    display: block;
    width: 40%;
    margin: 40px auto;
    font-size: 50px;
}

.content p {
    position: absolute;
    top: 40%;
    right: 22%;
    width: 54%;
    height: 0px;
    /* border: 3px solid #73AD21; */
    padding: 10px;
    font-size: 17px;
    /* letter-spacing: 1px; */
    word-spacing: 3px;
    font-family: 'Roboto', sans-serif;
}

#box1{
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    left: 14%;
    top: 115%;
    width: 33%;
    padding: 10px;
    font-size: 20px;
}

#box1 h2{
    text-align: center;
    font-size: 40px;
}

#img1{
    position: absolute;
    height: 14em;
    width: 14em;
    left: 125px;
    top: 365px;
}

#box2{
    /* border: 2px solid black; */
    display: inline-block;
    position: absolute;
    right: 14%;
    top: 115%;
    width: 33%;
    padding: 10px;
    font-size: 20px;
}

#box2 h2{
    text-align: center;
    font-size: 40px;
}

#box3{
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    left: 33%;
    top: 220%;
    width: 33%;
    padding: 10px;
    font-size: 20px;
}

#box3 h2{
    text-align: center;
    font-size: 40px;
}

#img2{
    position: absolute;
    height: 14em;
    width: 14em;
    left: 125px;
    top: 360px;
}
